<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Hello admin</h1>
    <a href="/docadd">add a doctor</a>
    <h1>Registered Doctors</h1>
    <table>
        <tr>
            <td>doctor lk</td>
            <td>btn:edit</td>
            <td>btn:del</td>
            <td>btn:blacklist</td>
        </tr>
    </table>
        <h1>Registered Patients</h1>
    <table>
        <tr>
            <td>munna bhai</td>
            <td>btn:edit</td>
            <td>btn:del</td>
            <td>btn:blacklist</td>
        </tr>
    </table>
    <h1>Upcoming appointments</h1>
    <table>
        <tr>
            <td>S.No</td>
            <td>Patient Name</td>
            <td>Doctor Name</td>
            <td>Department</td>
            <td>Patient History</td>
        </tr>
            <tr>
            <td>1000</td>
            <td>Munna Bhaoi</td>
            <td>Doctor lk</td>
            <td>Cardiology</td>
            <td>View</td>
        </tr>
    </table>
</body>
</html>