<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
    NAME: <input type="text" name="name" id="name"> 
    <br>
    EMAIL: <input type="email" name="email" id="email">
    <br>
    PASSWORD: <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="Register">
    </form>
    Already have an account?
    <a href="/login">Login</a>
</body>
</html>